@{
    ViewBag.Title = "Art";
}

<h2>Miscellaneous Art Gallery</h2>

<div class="col-md-4">
    <h2>Airbrush</h2>
    <div class="display-image">
        <p class="watermark">CANVAS</p>
        <a class="lightbox-image-link" href="~/img/Lion/lion1.jpg" data-lightbox="lightbox-set" data-title="Step 1"><img class="lightbox-image" src="~/img/Lion/lion5.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion2.jpg" data-lightbox="lightbox-set" data-title="Step 2"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion3.jpg" data-lightbox="lightbox-set" data-title="Step 3"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion4.jpg" data-lightbox="lightbox-set" data-title="Step 4"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion5.jpg" data-lightbox="lightbox-set" data-title="Final"></a>
    </div>

    <div class="display-image">
        <p class="watermark">TANK</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/left1.jpg" data-lightbox="lightbox-set" data-title="You can't see it, but I've printed a custom template on the masking paper."><img class="lightbox-image" src="~/img/Motorcycle/left6.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left2.jpg" data-lightbox="lightbox-set" data-title="Painting section by section with masking paper allows for sharper edges."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left3.jpg" data-lightbox="lightbox-set" data-title="Never get discouraged because it WILL come together."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left4.jpg" data-lightbox="lightbox-set" data-title="Don't be afraid to put too much white paint on black."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left5.jpg" data-lightbox="lightbox-set" data-title="Cuz you can always go back over it to smooth it out!"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left6.jpg" data-lightbox="lightbox-set" data-title="FYI, I repainted this dragon 2 times on both sides before I liked it enough to continue."></a>
    </div>

    <div class="display-image">
        <p class="watermark">REAR FENDER</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/rearFender1.jpg" data-lightbox="lightbox-set" data-title=""><img class="lightbox-image" src="~/img/Motorcycle/rearFender2.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/rearFender2.jpg" data-lightbox="lightbox-set" data-title=""></a>
    </div>

    <div class="display-image">
        <p class="watermark">FABRICATION</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/stock(agendavisual.com).jpg" data-lightbox="lightbox-set" data-title="Stock Version"><img class="lightbox-image" src="~/img/Motorcycle/fabricated1.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/oldView.jpg" data-lightbox="lightbox-set" data-title="My slightly altered version"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/fabricated1.jpg" data-lightbox="lightbox-set" data-title="Cut the rear fender"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/fabricated2.jpg" data-lightbox="lightbox-set" data-title="Added 4 inch fork extensions"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/leftSideView.jpg" data-lightbox="lightbox-set" data-title="Voila, fin... on to next project"></a>
    </div>
</div>

<div class="col-md-4">
    <h2>Airbrush</h2>
    <div class="display-image">
        <p class="watermark">CANVAS</p>
        <a class="lightbox-image-link" href="~/img/Lion/lion1.jpg" data-lightbox="lightbox-set" data-title="Step 1"><img class="lightbox-image" src="~/img/Lion/lion5.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion2.jpg" data-lightbox="lightbox-set" data-title="Step 2"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion3.jpg" data-lightbox="lightbox-set" data-title="Step 3"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion4.jpg" data-lightbox="lightbox-set" data-title="Step 4"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion5.jpg" data-lightbox="lightbox-set" data-title="Final"></a>
    </div>

    <div class="display-image">
        <p class="watermark">TANK</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/left1.jpg" data-lightbox="lightbox-set" data-title="You can't see it, but I've printed a custom template on the masking paper."><img class="lightbox-image" src="~/img/Motorcycle/left6.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left2.jpg" data-lightbox="lightbox-set" data-title="Painting section by section with masking paper allows for sharper edges."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left3.jpg" data-lightbox="lightbox-set" data-title="Never get discouraged because it WILL come together."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left4.jpg" data-lightbox="lightbox-set" data-title="Don't be afraid to put too much white paint on black."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left5.jpg" data-lightbox="lightbox-set" data-title="Cuz you can always go back over it to smooth it out!"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left6.jpg" data-lightbox="lightbox-set" data-title="FYI, I repainted this dragon 2 times on both sides before I liked it enough to continue."></a>
    </div>

    <div class="display-image">
        <p class="watermark">REAR FENDER</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/rearFender1.jpg" data-lightbox="lightbox-set" data-title=""><img class="lightbox-image" src="~/img/Motorcycle/rearFender2.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/rearFender2.jpg" data-lightbox="lightbox-set" data-title=""></a>
    </div>

    <div class="display-image">
        <p class="watermark">FABRICATION</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/stock(agendavisual.com).jpg" data-lightbox="lightbox-set" data-title="Stock Version"><img class="lightbox-image" src="~/img/Motorcycle/fabricated1.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/oldView.jpg" data-lightbox="lightbox-set" data-title="My slightly altered version"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/fabricated1.jpg" data-lightbox="lightbox-set" data-title="Cut the rear fender"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/fabricated2.jpg" data-lightbox="lightbox-set" data-title="Added 4 inch fork extensions"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/leftSideView.jpg" data-lightbox="lightbox-set" data-title="Voila, fin... on to next project"></a>
    </div>
</div>

<div class="col-md-4">
    <h2>Airbrush</h2>
    <div class="display-image">
        <p class="watermark">CANVAS</p>
        <a class="lightbox-image-link" href="~/img/Lion/lion1.jpg" data-lightbox="lightbox-set" data-title="Step 1"><img class="lightbox-image" src="~/img/Lion/lion5.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion2.jpg" data-lightbox="lightbox-set" data-title="Step 2"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion3.jpg" data-lightbox="lightbox-set" data-title="Step 3"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion4.jpg" data-lightbox="lightbox-set" data-title="Step 4"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Lion/lion5.jpg" data-lightbox="lightbox-set" data-title="Final"></a>
    </div>

    <div class="display-image">
        <p class="watermark">TANK</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/left1.jpg" data-lightbox="lightbox-set" data-title="You can't see it, but I've printed a custom template on the masking paper."><img class="lightbox-image" src="~/img/Motorcycle/left6.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left2.jpg" data-lightbox="lightbox-set" data-title="Painting section by section with masking paper allows for sharper edges."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left3.jpg" data-lightbox="lightbox-set" data-title="Never get discouraged because it WILL come together."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left4.jpg" data-lightbox="lightbox-set" data-title="Don't be afraid to put too much white paint on black."></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left5.jpg" data-lightbox="lightbox-set" data-title="Cuz you can always go back over it to smooth it out!"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/left6.jpg" data-lightbox="lightbox-set" data-title="FYI, I repainted this dragon 2 times on both sides before I liked it enough to continue."></a>
    </div>

    <div class="display-image">
        <p class="watermark">REAR FENDER</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/rearFender1.jpg" data-lightbox="lightbox-set" data-title=""><img class="lightbox-image" src="~/img/Motorcycle/rearFender2.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/rearFender2.jpg" data-lightbox="lightbox-set" data-title=""></a>
    </div>

    <div class="display-image">
        <p class="watermark">FABRICATION</p>
        <a class="lightbox-image-link" href="~/img/Motorcycle/stock(agendavisual.com).jpg" data-lightbox="lightbox-set" data-title="Stock Version"><img class="lightbox-image" src="~/img/Motorcycle/fabricated1.jpg" alt="" /></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/oldView.jpg" data-lightbox="lightbox-set" data-title="My slightly altered version"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/fabricated1.jpg" data-lightbox="lightbox-set" data-title="Cut the rear fender"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/fabricated2.jpg" data-lightbox="lightbox-set" data-title="Added 4 inch fork extensions"></a>
        <a class="lightbox-image-link, hidden-image" href="~/img/Motorcycle/leftSideView.jpg" data-lightbox="lightbox-set" data-title="Voila, fin... on to next project"></a>
    </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.11.0.min.js")
@Scripts.Render("~/Scripts/lightbox.js")